:root {
  --shadow-color: 143deg 66% 24%;
  --shadow-elevation-high:
  0.2px 0.2px 0.3px hsl(var(--shadow-color) / 0.51),
  0.7px 0.8px 1px -0.5px hsl(var(--shadow-color) / 0.47),
  1.3px 1.5px 1.9px -1px hsl(var(--shadow-color) / 0.43),
  2.5px 2.8px 3.6px -1.6px hsl(var(--shadow-color) / 0.39),
  4.4px 5px 6.3px -2.1px hsl(var(--shadow-color) / 0.35),
  7.4px 8.4px 10.7px -2.6px hsl(var(--shadow-color) / 0.31),
  11.9px 13.5px 17.1px -3.1px hsl(var(--shadow-color) / 0.27),
  18px 20.5px 26px -3.6px hsl(var(--shadow-color) / 0.23);
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  background-image: linear-gradient(
    150deg,
    hsl(138deg 42% 52%) 0%,
    hsl(133deg 44% 53%) 15%,
    hsl(129deg 47% 54%) 22%,
    hsl(124deg 50% 55%) 28%,
    hsl(118deg 54% 56%) 33%,
    hsl(114deg 57% 57%) 37%,
    hsl(108deg 59% 58%) 42%,
    hsl(104deg 63% 60%) 46%,
    hsl(98deg 66% 61%) 50%,
    hsl(94deg 69% 62%) 54%,
    hsl(89deg 71% 63%) 58%,
    hsl(84deg 75% 64%) 63%,
    hsl(79deg 77% 65%) 67%,
    hsl(74deg 80% 67%) 72%,
    hsl(69deg 83% 68%) 78%,
    hsl(64deg 86% 69%) 85%,
    hsl(59deg 89% 70%) 100%
  );
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #f7f56f;
  letter-spacing: 2px;
}
footer, header {
  display: block;
}

/* Type */
body, header, #header, .links, .bio, footer {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

img {
  border-radius: 50%;
}

.profile-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  height: auto;
  max-width: 125px;
  box-shadow: 
    var(--shadow-elevation-high);
}

.profile-name {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

.bio {
  text-align: center;
}

.links {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #f7f56f;
  border-width: 3px;
  width: 290px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  font-weight: 700;
  box-shadow: 
    var(--shadow-elevation-high);
}

.social-media {
  display: inline;
  /*list-style-type: none;*/
}

a {
  text-decoration: none;
  color: #f7f56f;
  transition: colors 1s;
}

a:hover {
  color: #50b76f;
  background: #f7f56f;
}

/* Footer */ 
footer {
  text-align: center;
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
}

#footer .copyright {
  font-size: 0.65em;
  list-style: none;
  padding: 0;
} 